-- ========================================
-- 操作日志表
-- 记录用户操作日志，保留3个月
-- 创建时间：2026-04-27
-- ========================================

PRINT '=== 开始创建操作日志表 ===';
PRINT '';

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sys_operation_logs]') AND type in (N'U'))
BEGIN
    CREATE TABLE [dbo].[sys_operation_logs] (
        [id] INT IDENTITY(1,1) NOT NULL,                    -- 主键
        [user_id] INT NULL,                                 -- 用户ID
        [username] NVARCHAR(50) NULL,                       -- 用户名
        [user_name] NVARCHAR(100) NULL,                     -- 用户姓名
        [action] NVARCHAR(100) NOT NULL,                    -- 操作类型
        [module] NVARCHAR(50) NULL,                         -- 操作模块
        [description] NVARCHAR(500) NULL,                   -- 操作描述
        [details] NVARCHAR(MAX) NULL,                       -- 详细信息(JSON)
        [method] NVARCHAR(10) NULL,                         -- HTTP方法
        [path] NVARCHAR(200) NULL,                           -- 请求路径
        [ip_address] NVARCHAR(50) NULL,                      -- IP地址
        [user_agent] NVARCHAR(500) NULL,                     -- 用户代理
        [status_code] INT NULL,                              -- 响应状态码
        [duration] INT NULL,                                 -- 请求耗时(毫秒)
        [created_at] DATETIME DEFAULT GETDATE(),            -- 创建时间
        CONSTRAINT [PK_sys_operation_logs] PRIMARY KEY CLUSTERED ([id] ASC)
    );

    PRINT '✅ sys_operation_logs 表创建成功';
END
ELSE
BEGIN
    PRINT '⚠️ sys_operation_logs 表已存在';
END
PRINT '';

-- 创建索引
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE name = 'IX_sys_operation_logs_user_id')
BEGIN
    CREATE NONCLUSTERED INDEX [IX_sys_operation_logs_user_id]
    ON [dbo].[sys_operation_logs] ([user_id] ASC);

    PRINT '✅ IX_sys_operation_logs_user_id 索引创建成功';
END

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE name = 'IX_sys_operation_logs_action')
BEGIN
    CREATE NONCLUSTERED INDEX [IX_sys_operation_logs_action]
    ON [dbo].[sys_operation_logs] ([action] ASC);

    PRINT '✅ IX_sys_operation_logs_action 索引创建成功';
END

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE name = 'IX_sys_operation_logs_module')
BEGIN
    CREATE NONCLUSTERED INDEX [IX_sys_operation_logs_module]
    ON [dbo].[sys_operation_logs] ([module] ASC);

    PRINT '✅ IX_sys_operation_logs_module 索引创建成功';
END

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE name = 'IX_sys_operation_logs_created_at')
BEGIN
    CREATE NONCLUSTERED INDEX [IX_sys_operation_logs_created_at]
    ON [dbo].[sys_operation_logs] ([created_at] ASC);

    PRINT '✅ IX_sys_operation_logs_created_at 索引创建成功';
END
PRINT '';

-- ========================================
-- 清理3个月前的操作日志（定时任务使用）
-- ========================================
PRINT '=== 清理3个月前的操作日志存储过程 ===';
PRINT '';

IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_Cleanup_Operation_Logs]') AND type in (N'P'))
BEGIN
    DROP PROCEDURE [dbo].[sp_Cleanup_Operation_Logs];
    PRINT '⚠️ 已删除旧的 sp_Cleanup_Operation_Logs 存储过程';
END
GO

CREATE PROCEDURE [dbo].[sp_Cleanup_Operation_Logs]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @DeletedCount INT = 0;
    DECLARE @CutoffDate DATETIME = DATEADD(MONTH, -3, GETDATE());

    PRINT '开始清理操作日志， cutoff date: ' + CAST(@CutoffDate AS NVARCHAR(50));

    DELETE FROM [dbo].[sys_operation_logs]
    WHERE [created_at] < @CutoffDate;

    SET @DeletedCount = @@ROWCOUNT;

    PRINT '已删除 ' + CAST(@DeletedCount AS NVARCHAR(50)) + ' 条操作日志记录';
END
GO

PRINT '✅ sp_Cleanup_Operation_Logs 存储过程创建成功';
PRINT '';
PRINT '=== 操作日志表创建完成 ===';
GO
